body {
    background-color: #EFE4B0;
    padding: 15px;
    text-align: justify;
    font-size: 20px;
}

nav {
    background-color: #FFF200;
    border: 3px solid black;
    padding: 15px;
}

a {
    display: inline-block;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

img {
    width: 600px;
    height: 350px;
}

.img1 {
    float: left;
    margin: 0 15px 15px 0;
}

.img2 {
    float: right;
    margin: 15px 0 15px 15px;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
}

@media (min-width: 320px) and (max-width: 768px) {

    body {
        background-color: #FFC90E;
    }

    nav {
        background-color: #FF7F27;
    }

    img {
        width: 300px;
    }

    .img2 {
        float: left;
        margin: 15px 15px 15px 0;
    }

    footer {
        display: block;
        margin-top: 50px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    body {
        background-color: #B5E61D;
        font-size: 26px;
    }

    nav {
        background-color: #22B14C;
        padding: 0px;
    }

    a {
        display: block;
        margin: 10px;
    }

    img {
        display: none;
    }

    footer {
        display: block;
        text-align: center;
        margin: 40px 0 0 0;
    }

}

@media (max-width: 320px) {

    body {
        background-color: #B5E61D;
        font-size: 26px;
    }

    nav {
        background-color: #22B14C;
        padding: 0px;
    }

    a {
        display: block;
        margin: 10px;
    }

    img {
        display: none;
    }

    footer {
        display: block;
        text-align: center;
        margin: 40px 0 0 0;
    }

}